{% extends "layer.html"%}
{% block content %}

   <div>
<ul>
  <li><a href="/logout">Log out</a></li>
  <li><a class="active" href="/">Home</a></li>
  <li><a href="/">About</a></li>

</ul>
<form>
<input type="button" value="Add new bus" onclick="window.location.href='/bus.html'" />
<input type="button" value="Show all buses" onclick="window.location.href='/list.html'" />
<input type="button" value="Show all bookings" onclick="window.location.href='/bookinglist.html'" />
<input type="button" value="Show all cancelings" onclick="window.location.href='/cancellist.html'" />
<input type="button" value="Delete bus" onclick="window.location.href='/delete.html'" />
<input type="button" value="Find bus" onclick="window.location.href='/find.html'" />
</form>
{% endblock %}
