{% extends "layer.html"%}
{% block content %}
   <body>
<div>
<form method="POST" action="{{ url_for('canceling') }}"
   <h3>{{msg}}</h3>
   <table id="customers" border = 1>

         <thead>
            <td>BOOKING ID</td>
            <td>BUS ID</td>
            <td>BUS NAME</td>


         </thead>

         {% for row in rows %}
	<tr>
	<td>{{row[0]}}</td>
	<td>{{row[1]}}</td>
	<td> {{ row[2]}}</td>

	</tr>
         {% endfor %}
      </table>
enter id to cancel: <br>
<input type="number" name="id" autocomplete="off">
<br>
<input type="submit" value="cancel">
   <br>
      <a href = "/user">Go back to home page</a>
     </form>
</div>
{%endblock%}
